In [9]:
import csv
import os
import pandas as pd

In [41]:
filePath = "..\datasets\CO2\surface\Month"
CountryFile = "..\datasets\CO2\stations_Country_latest.csv"

In [42]:
fileList = []
# Read the dir and list the name of the files
for root, dirs, files in os.walk(filePath):
    for name in files:
        if(name not in fileList):
            fileList.append(name)

len(fileList)

95

In [43]:
txtData = []
CO2Data = pd.DataFrame()

for i, f in enumerate(fileList):
    with(open(f"{filePath}\{f}", "r")) as txtFile:
        txtData = txtFile.read().splitlines()
    
    tmpList = [l.replace(" ","") for l in txtData[int(txtData[0].rsplit(" ", 1)[1]):]]
    tmpList = [[l[:3],l[3:7],l[7:9],l[9:]] for l in tmpList]
    
       
    CO2Data = CO2Data.append(tmpList)
    
CO2Data.count()

0    22957
1    22957
2    22957
3    22957
dtype: int64

In [44]:
CO2Data.rename(columns = {0 : 'Code',1 : 'year',2 :'month',3 :'CO2Value'}, inplace = True)
CO2Data.head()

  Code  year month CO2Value
0  ABP  2006    10   380.72
1  ABP  2006    11   380.82
2  ABP  2006    12   380.92
3  ABP  2007    13    81.02
4  ABP  2007    23    81.09

In [45]:
print(f"data from {CO2Data['year'].min()} to {CO2Data['year'].max()}")

data from 1968 to 2017

In [46]:
# Lookup COuntry and Add it to CO2 Data

ctry_stat = pd.read_csv(CountryFile)
ctry_stat.head()

,Code,Name,Country,Latitude,Longitude,Elevation (meters),Time from GMT
0,AAO,"Airborne Aerosol Observatory, Bondville, Illinois",United States,40.050,-88.370,230.0,-6 hours
1,ABP,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
2,ABQ,"Albuquerque, New Mexico",United States,35.038,-106.622,1617.0,-7 hours
3,ACG,Alaska Coast Guard,United States,65.000,-165.000,0.0,-8 hours
4,ALT,"Alert, Nunavut",Canada,82.451,-62.507,190.0,-4 hours

In [47]:
CO2Data_exp = pd.merge(CO2Data, ctry_stat, how = 'inner', on = 'Code')

In [48]:
CO2Data_exp.head()

,Code,year,month,CO2Value,Name,Country,Latitude,Longitude,Elevation (meters),Time from GMT
0,ABP,2006,10,380.72,"Arembepe, Bahia",Brazil,-12.77,-38.17,1.0,-3 hours
1,ABP,2006,11,380.82,"Arembepe, Bahia",Brazil,-12.77,-38.17,1.0,-3 hours
2,ABP,2006,12,380.92,"Arembepe, Bahia",Brazil,-12.77,-38.17,1.0,-3 hours
3,ABP,2007,13,81.02,"Arembepe, Bahia",Brazil,-12.77,-38.17,1.0,-3 hours
4,ABP,2007,23,81.09,"Arembepe, Bahia",Brazil,-12.77,-38.17,1.0,-3 hours

In [49]:
CO2Data_exp.to_csv("..\datasets\CO2\CO2_Data.csv")