### Data Extraction and Cleaning script  - CO2
The script extracts the CO2 from files obtained from ftp://ftp.cmdl.noaa.gov/data/greenhouse_gases/co2/flask/surface/

Only Monthly files have been considered.

In [79]:
# Import Dependencies
import csv
import os
import pandas as pd
import numpy as np

In [2]:
filePath = "..\data\rawdata\CO2\surface\Month"
CountryFile = "..\data\rawdata\CO2\stations_Country_latest.csv"

In [3]:
fileList = []
# Read the dir and list the name of the files
for root, dirs, files in os.walk(filePath):
    for name in files:
        if(name not in fileList):
            fileList.append(name)

print(f"Data to be extracted from {len(fileList)} files")

Data to be extracted from 95 files

In [62]:
txtData = []
CO2Data = pd.DataFrame()

for i, f in enumerate(fileList):
    with(open(f"{filePath}\{f}", "r")) as txtFile:
        txtData = txtFile.read().splitlines()
    
    # DAta is space delimited format. But not uniform. 
    # Change spaces to , and split field values by commas
    tmpList = [l.replace(" ",",") for l in txtData[int(txtData[0].rsplit(" ", 1)[1]):]]
    tmpList = [l.split(",") for l in tmpList]
    
    # add data to dataframe
    CO2Data = CO2Data.append(tmpList)



#Format the values and correct incorrect split of data    
CO2Data['month'] = CO2Data[2].add(CO2Data[3], fill_value = 0)
CO2Data['month'] = CO2Data['month'].add(CO2Data[4], fill_value = 0)
CO2Data[[5,6]] = CO2Data[[5,6]].apply(pd.to_numeric)
CO2Data['CO2Value'] = CO2Data[5].add(CO2Data[6], fill_value = 0)

# Drop cols not needed
CO2Data = CO2Data.drop([2,3,4,5,6], axis = 1)

# Change column names, and data types
CO2Data.rename(columns = {0 : 'Code',1 : 'year'}, inplace = True)

#convert all number columns to numeric datatype
CO2Data[['CO2Value','year','month']] = CO2Data[['CO2Value','year','month']].apply(pd.to_numeric)


CO2Data.head()

  Code  year  month  CO2Value
0  ABP  2006     10    380.72
1  ABP  2006     11    380.82
2  ABP  2006     12    380.92
3  ABP  2007      1    381.02
4  ABP  2007      2    381.09

In [63]:
print(f"data from {CO2Data['year'].min()} to {CO2Data['year'].max()}")

data from 1968 to 2017

In [64]:
# Remove all data before 1970.
CO2Data = CO2Data.loc[CO2Data['year']>= 1970,:]

print(f"data from {CO2Data['year'].min()} to {CO2Data['year'].max()}")

data from 1970 to 2017

In [65]:
#Reshape data to be same as Temp view
CO2Data_fnl = CO2Data.pivot_table('CO2Value', ['Code','year'], 'month')

CO2Data_fnl = CO2Data_fnl.reset_index()


CO2Data_fnl.rename_axis("", axis = 1, inplace = True)

mnth_names = {1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov', 12:'Dec'}
CO2Data_fnl.rename(columns = mnth_names, inplace = True)

CO2Data_fnl.head()

,Code,year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,000,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,349.66,NaN,NaN,NaN
1,000,1988,351.31,352.37,353.04,353.35,353.30,353.05,352.68,352.29,NaN,NaN,NaN,NaN
2,000,1989,354.37,355.10,355.46,355.34,354.93,354.38,353.86,353.47,353.19,353.17,353.46,354.11
3,000,1990,354.88,355.47,355.86,356.00,355.96,355.76,355.39,354.85,354.32,354.08,354.28,354.94
4,000,1991,355.71,356.40,356.87,357.04,356.94,356.64,356.18,355.51,354.88,354.61,354.82,355.46

In [128]:
#Fix Missing Values - with avgs of NAN row
CO2Data_clean = CO2Data_fnl

rowMean = CO2Data_clean[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov', 'Dec']].mean(axis = 1)


CO2Data_clean = CO2Data_clean.apply(lambda r: r.fillna(rowMean[r.index]))

CO2Data_clean = CO2Data_clean.round(decimals = 2)

#Check if NAN exists
print(CO2Data_clean.isnull().values.sum())

0

In [111]:
# Lookup Country and Add it to CO2 Data
ctry_stat = pd.read_csv(CountryFile)
ctry_stat.head()

,Code,Name,Country,Latitude,Longitude,Elevation (meters),Time from GMT
0,AAO,"Airborne Aerosol Observatory, Bondville, Illinois",United States,40.050,-88.370,230.0,-6 hours
1,ABP,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
2,ABQ,"Albuquerque, New Mexico",United States,35.038,-106.622,1617.0,-7 hours
3,ACG,Alaska Coast Guard,United States,65.000,-165.000,0.0,-8 hours
4,ALT,"Alert, Nunavut",Canada,82.451,-62.507,190.0,-4 hours

In [112]:
# Merge on Station Code for details about the station
CO2Data_Full = pd.merge(CO2Data_clean, ctry_stat, how = 'inner', on = 'Code')

In [113]:
CO2Data_Full.head()

,Code,year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Name,Country,Latitude,Longitude,Elevation (meters),Time from GMT
0,ABP,2006,380.82,380.82,380.82,380.82,380.82,380.82,380.82,380.82,380.82,380.72,380.82,380.92,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
1,ABP,2007,381.02,381.09,380.99,380.89,381.15,381.82,382.26,382.19,382.34,381.53,381.53,381.53,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
2,ABP,2008,384.23,384.23,383.02,382.64,382.83,383.83,384.34,384.20,384.77,385.46,385.64,385.56,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
3,ABP,2009,384.85,385.28,386.19,385.20,384.39,385.18,385.67,386.08,386.20,386.18,386.59,386.81,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
4,ALT,1985,344.06,344.06,344.06,344.06,344.06,349.94,343.98,337.96,339.09,342.85,345.66,348.97,"Alert, Nunavut",Canada,82.451,-62.507,190.0,-4 hours

In [125]:
# Roll up stations to Country

CO2Data_Cntry_GDF = CO2Data_Full[['Code','year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep',\
                                  'Oct','Nov','Dec','Country']].groupby(['year','Country']).agg(np.mean)

CO2Data_Cntry_GDF.reset_index(inplace= True)

CO2Data_Cntry_GDF = CO2Data_Cntry_GDF.round(decimals = 2)

CO2Data_Cntry_GDF

,year,Country,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1970,United States,326.54,327.35,328.42,329.32,328.64,326.40,323.56,321.42,321.48,323.82,325.77,326.53
1,1971,United States,327.28,328.48,328.91,328.94,330.50,327.34,322.43,318.83,319.53,323.28,326.73,328.92
2,1972,United States,330.58,331.06,331.29,332.08,331.76,328.44,324.17,322.19,323.58,326.98,329.49,330.86
3,1973,American Samoa,330.16,330.16,330.16,330.16,330.16,330.16,330.16,330.12,330.20,330.09,330.08,330.29
4,1973,United States,331.99,332.86,333.79,334.74,334.71,332.97,329.81,327.33,327.58,329.50,331.29,332.67
5,1974,American Samoa,330.62,331.16,331.32,331.07,331.37,331.14,330.52,330.62,330.77,331.05,330.46,329.98
6,1974,United States,333.91,334.86,335.55,335.53,335.53,334.58,332.68,330.11,330.40,332.13,333.40,334.25
7,1975,American Samoa,330.65,330.65,330.20,329.63,329.66,330.60,330.83,330.91,331.79,331.64,330.88,330.56
8,1975,United States,333.32,333.24,333.22,333.30,333.16,332.18,329.34,327.23,327.44,329.78,331.89,333.15
9,1976,American Samoa,330.52,330.60,330.82,331.17,331.42,331.10,330.98,331.53,331.90,332.17,332.62,332.95
10,1976,United States,332.56,332.80,333.28,334.17,334.15,332.84,331.08,329.01,328.64,329.98,331.74,333.10
11,1977,American Samoa,332.98,332.48,332.21,332.66,332.82,332.56,332.81,332.91,332.62,332.57,333.01,333.68
12,1977,United States,334.10,334.60,335.15,336.08,336.45,335.36,333.43,331.46,330.68,331.65,333.62,335.16
13,1978,American Samoa,334.04,333.79,334.37,334.52,334.28,334.88,334.51,334.22,334.38,334.50,334.40,334.14
14,1978,United States,335.86,336.42,336.81,337.18,337.42,336.88,334.97,332.91,332.51,333.58,335.29,336.38
15,1979,American Samoa,334.71,335.47,335.77,335.89,335.61,335.74,335.77,335.76,336.15,336.72,336.89,336.81
16,1979,Guam,337.82,337.82,339.35,339.81,340.06,339.73,338.48,336.97,335.41,334.58,335.85,338.00
17,1979,Portugal,339.92,339.92,339.92,339.92,339.92,339.92,339.92,339.92,339.92,339.92,339.92,339.92
18,1979,United Kingdom,337.70,337.70,337.70,337.70,337.70,337.70,337.70,337.44,337.31,337.28,337.94,338.55
19,1979,United States,337.34,337.98,338.86,339.46,339.66,338.36,335.25,333.01,333.30,335.21,336.83,337.57
20,1980,American Samoa,337.55,338.12,337.78,337.79,338.43,338.68,338.56,338.63,338.51,338.40,338.67,339.05
21,1980,Canada,339.70,339.70,339.70,344.42,344.04,343.21,338.81,333.51,333.30,337.01,340.20,342.77
22,1980,Guam,339.47,340.37,340.87,341.68,342.72,342.60,341.28,339.86,338.18,337.27,338.43,339.33
23,1980,Portugal,340.51,341.79,342.45,342.26,341.98,340.53,337.23,334.28,333.73,335.96,338.73,340.20
24,1980,Seychelles,340.63,341.45,341.31,339.71,338.38,338.44,338.60,338.58,338.73,339.01,339.29,339.87
25,1980,United Kingdom,338.37,338.03,338.02,338.47,338.88,339.52,339.81,339.80,339.55,339.15,338.88,338.91
26,1980,United States,339.39,340.48,341.07,341.64,341.41,339.81,337.39,335.14,334.82,336.67,338.91,340.68
27,1981,American Samoa,339.28,339.10,339.60,339.52,338.74,338.96,339.27,339.25,339.08,339.25,339.73,340.03
28,1981,Canada,344.24,345.00,345.67,346.04,346.85,345.80,338.72,332.74,334.02,338.50,341.49,344.17
29,1981,Guam,340.41,342.54,343.60,343.70,343.75,343.42,342.06,339.91,338.26,338.76,340.08,340.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,2017,Canada,411.29,412.33,413.38,413.62,413.26,410.16,402.56,396.90,397.69,402.83,407.79,410.79
956,2017,Chile,402.89,402.78,402.27,402.07,402.13,402.41,402.42,402.42,402.42,402.42,402.42,402.42
957,2017,Finland,411.53,413.06,414.31,413.97,413.17,408.46,398.41,393.73,401.39,409.31,410.50,412.77
958,2017,France,400.43,400.41,400.90,401.41,401.79,402.24,402.88,403.53,403.65,403.44,403.26,403.22
959,2017,Germany,415.88,415.86,412.66,412.08,408.60,402.40,399.88,396.04,397.52,406.25,412.24,413.36
960,2017,Greenland,410.11,410.93,411.44,411.95,411.27,408.26,402.04,397.21,398.41,404.18,408.99,410.37
961,2017,Guam,406.48,407.44,407.70,408.51,409.56,409.30,408.16,408.16,408.16,408.16,408.16,408.16
962,2017,Hungary,431.11,429.80,415.94,410.35,405.58,399.29,399.41,399.21,399.81,410.11,420.56,422.35
963,2017,Iceland,410.43,411.49,412.71,412.09,410.56,406.34,399.76,395.51,396.75,403.57,408.87,411.29
964,2017,Indonesia,396.79,400.30,402.26,400.52,398.67,398.67,398.50,394.23,393.88,396.26,398.93,401.87
965,2017,Ireland,409.89,410.37,411.18,410.83,409.93,408.34,401.95,396.48,397.50,403.35,407.82,409.53
966,2017,Israel,410.70,411.57,411.06,410.93,409.94,407.05,404.48,403.52,404.15,407.07,410.64,412.20
967,2017,Italy,410.05,410.32,410.71,410.99,408.54,403.94,401.01,401.04,403.64,406.28,409.04,410.72
968,2017,Japan,401.20,401.16,401.25,401.34,401.64,402.02,402.65,403.26,403.58,403.81,403.78,403.72
969,2017,Mexico,404.62,405.72,407.29,408.60,409.03,408.17,405.85,403.37,402.40,402.52,403.56,405.49
970,2017,Mongolia,411.63,412.00,413.41,413.85,409.48,404.05,399.54,396.96,402.77,408.96,411.61,413.34
971,2017,Namibia,401.89,401.27,400.89,400.51,400.54,403.24,405.19,405.08,405.11,404.77,404.60,404.52
972,2017,New Zealand,402.47,401.49,401.11,401.98,402.31,402.17,402.76,402.74,402.57,403.29,403.28,403.45
973,2017,Norway and Sweden,411.16,412.06,413.20,413.51,412.69,409.68,402.65,396.86,398.34,404.51,408.61,410.78
974,2017,Peoples Republic of China,408.12,409.57,410.30,411.73,411.55,407.27,402.32,401.31,403.15,405.28,407.83,409.52
975,2017,Portugal,408.40,409.23,410.75,408.26,408.26,408.26,408.26,408.26,408.26,403.83,407.92,409.40
976,2017,Republic of Kiribati,404.88,404.88,404.88,404.88,404.88,404.88,404.88,404.88,404.50,404.40,404.85,405.76
977,2017,Republic of Korea,416.96,416.98,417.03,417.58,414.60,411.96,408.44,403.06,405.81,413.18,415.18,415.79
978,2017,Russia,416.40,415.24,414.88,414.54,414.04,410.34,400.22,393.89,397.62,406.06,410.96,412.72
979,2017,Seychelles,405.50,406.13,405.93,403.63,402.59,403.57,403.93,403.64,403.76,404.37,405.36,406.71
980,2017,South Africa,401.25,401.42,401.48,401.56,401.85,402.44,402.99,403.03,402.86,402.88,403.19,403.47
981,2017,Spain,409.54,408.78,408.95,409.54,410.42,408.92,405.01,401.96,402.72,406.34,408.38,409.93
982,2017,Taiwan,409.76,409.92,411.38,411.28,409.63,407.10,405.30,404.19,404.07,405.98,409.15,411.00
983,2017,United Kingdom,403.79,404.54,404.61,404.68,404.53,404.17,403.83,402.30,401.66,403.11,404.40,404.90
984,2017,United States,408.49,409.10,409.60,409.79,409.19,407.30,404.35,401.49,402.03,405.45,408.10,409.28

In [129]:
#Output to csv folder
CO2Data_Full.to_csv("..\data\CO2_RawData.csv", index = False)  ## Entire Raw DAta with stations

CO2Data_Cntry_GDF.to_csv("..\data\CO2_BYCountry.csv", index = False) ## Grouped by Country